
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap'); //font-family: 'Anton', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

$main-font: 'Anton', sans-serif;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*, *:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0
}


blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0;
}

button, fieldset, iframe {
  border: 0;
}

fieldset, ul, ol, button, menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

a:hover {
  color: #4b5ba4;
}

a, a:focus, button, button:focus {
  outline: none !important;
  text-decoration: none;
}

a, button {
  user-select: none;
  transition: all .3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

.custom-container{
  position: relative;
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  z-index: 99;
}

//fade

.fade-enter-active {
    transition: all .25s ease-in-out;
  }
  
  .fade-leave-active {
    transition: all .25s ease-in-out;
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-leave-to {
    opacity: 0;
  }
  
  //fade up
  
  .fade-up-enter-active {
    transition: all .25s ease-in-out;
  }
  
  .fade-up-leave-active {
    transition: all .25s ease-in-out;
  }
  
  .fade-up-enter {
    transform: translateY(15px);
    opacity: 0;
  }
  
  .fade-up-leave-to {
    transform: translateY(15px);
    opacity: 0;
  }


//Input placeholder style
::-webkit-input-placeholder { /* Edge */
  color: gainsbrgba(86, 86, 86, 0.47843137254901963);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(86, 86, 86, 0.47843137254901963);
}

::placeholder {
  color: rgba(86, 86, 86, 0.47843137254901963);
}

//Input placeholder style
.todo ::-webkit-input-placeholder { /* Edge */
    color: #66546b;
  }
  
.todo :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #66546b;
  }
  
.todo ::placeholder {
    color: #66546b;
  }


